body{
    background-color: darkmagenta;
    margin: 0;
    padding: 0;
}

h1{
 text-align: center;
 font-size: 5rem;
 color: orange;
}
img{
    height: 100vh;
    width: 100vw;
}

div{
    display: flex;
    align-items: center;
    border: 1px solid darkmagenta;
}

.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 15px solid gold;
    width: 100vw;
    align-items: center;
    background-color: darkgreen;
}

li{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
    border: 1px solid gold;
    background-color: navy;
}

nav a:hover{
    background-color: white;
    color: darkgreen;
}

nav a{
    font-size: 2rem;
    margin: 0.5rem;
    color: red;
}
li {
    color: orange;
}
.links {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid darkgrey;
    width: 100%;
}

.links a {
font-size: 2.5rem;
}
.protoshape{
    height: 250px;
    width: 250px;
    border: 10px solid aliceblue;
    background-color: darkblue;
}